h1 {
  color: #000000;
  text-decoration: overline underline 10px black dotted;
  letter-spacing: -2px;
  word-spacing: 10px;
  text-shadow: 2px 5px 10px red;
}
body {
  background-color: darkRed;
}
img:hover {
  width:300px;
  border: black dotted 10px;
  border-radius: 70%;
}
h1:hover {
  width:400px;
  font-size:400%;
}

nav {
  list-style-type: none;
  background-color: #000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
}

li {
    display: inline;
}

li a {
  text-decoration: none;
  color: white;
  padding: 15px 50px; 
}

li a:hover {
  background-color: wheat;
  color: black;
}
