h1 {
  color: #f533d4;
  text-decoration: overline underline 10px purple dotted;
  letter-spacing: -2px;
  word-spacing: 10px;
  text-shadow: 2px 5px 10px red;
}
body {
  background-color: red;
}
img:hover {
  width:300px;
  border: dotted purple 10px;
  border-radius: 70%;
}
h1:hover {
  width:400px;
  font-size:400%;
}
